.hamburger-menu {
    display: none !important;
}

@media (max-width: 810px) {
    .navigation {
        position: static !important;
        width: 100% !important;
        height: auto !important;
        right: 0 !important;
        padding-top: 0 !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }
    
    .navigation .list {
        display: block !important;
        text-align: center !important;
        padding: 10px 0 !important;
    }
    
    .navigation .list .menu {
        display: inline !important;
        margin: 0 15px !important;
        width: auto !important;
    }
    
    .navigation .list .menu a {
        display: inline-block !important;
        padding: 5px !important;
        font-size: 1rem !important;
        background-color: transparent !important;
        color: #fff8f2 !important;
    }
    
    .navigation .list .act a {
        background-color: transparent !important;
        color: #5f85db !important;
    }
    
    header {
        padding: 20px !important;
    }
    
    header h1 {
        margin-bottom: 10px !important;
    }
}