/* Main*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
:root {
    --color-primary: #1c1c1c ;
    --color-secondary: #5F85DB;
    --color-white: #fff8f2;
    --color-black: #000;
    --color-grey-0: #1f1f1f;
    --color-grey-1: #131313;

    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
    --text-shadow-1: 0 0 30px #5f84dbc5;
    --text-shadow-2: 2px 2px 15px #fff8f275;

}

body {
    background-color: var(--color-primary);
    color: var(--color-white);
    line-height: 1.6;
    text-align: center;
}

header{
    top: 0;
    position: sticky;
    background-color: var(--color-grey-0);
    padding: 20px;
    z-index: 10;
}

header h1 {
    margin-bottom: 10px;
    font-size: 3rem;
    
}
.list{
    list-style: none;
    padding: 0;
    
    .menu{
        display: inline;
        margin: 0 15px;
        a{
            color: var(--color-white);
            text-decoration: none;
            font-weight: bold;
            display: inline-block; 
            transition: all .4s ease-in-out;
            &:hover {
                transform: scale(1.2); 
                color: var(--color-secondary);
                
            }
        }
    } 
    .act{
        a{
            color: var(--color-white);
            text-decoration: none;
            font-weight: bold;
            display: inline-block; 
            transition: all .4s ease-in-out;
            transform: scale(1.2); 
            color: var(--color-secondary);
                
        }
    }
}

footer {
    background-color: var(--color-grey-0);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 80vh;
    
    .left_content{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0 0, 0% 100%, 52% 88%);
        }
        .image {

            width: 100%;
            max-width: 100%; 
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 80%; 
                height: auto; 
                border-radius: var(--br-sm-2);
                transition: all .4s ease-in-out;
                &:hover { 
                    transform: scale(1.05); 
                }
            }
        }
    }
    .right_content { 
        display: flex;
        flex-direction: column;
        justify-content: center; /* Wyrównanie w pionie */
        align-items: center; /* Wyrównanie w poziomie */
        padding-right: 10rem;
        .name {
            width: 80%;
            min-width: 250px;
            font-size: 3rem;
            text-align: center;
        }
        p {
            width: 70%;
            max-width: 400px;
            min-width: 250px;
            text-align: justify; 
            padding: 1.5rem 1.5rem;
            line-height: 2rem;
            display: flex;
            justify-content: center; 
        }
    }
}

//Projects
.main_projects{
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;     
    flex-direction: column;
    .projects {
        text-align: center;
        padding: 2rem;
        width: 80%;
        display: flex;
        align-items: center;      
        flex-direction: column;   
        min-width: 810px;
        .projects_container { 
            display: grid;
            grid-template-columns: repeat(3, auto); 
            grid-template-rows: repeat(2, auto); 
            grid-auto-flow: column; 
            gap: 20px;
            justify-content: center;
            .project {
                height: 100%;
                background: var(--color-grey-0);
                padding: 20px;
                border-radius: var(--br-sm-2);
                box-shadow: var(--box-shadow-1);
                text-align: center;
                display: flex;               
                flex-direction: column;      
                justify-content: center;     
                align-items: center;         
                         
                transition: all .4s ease-in-out;
                &:hover { 
                    transform: scale(1.05); 
                }
                .progress_bar {
                    margin-top: 5px;
                    height:8px;
                    width: 90%;
                    background: var(--color-white);
                    border-radius: var(--br-sm-2);
                    position: relative;
                    
                    .progress {
                        background: var(--color-secondary);
                        height: 8px;
                        line-height: 25px;
                        text-align: center;
                        border-radius: var(--br-sm-2);
                    }   
                }
                .btn {
                    margin-top: 8%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 70px; /* Ustawienie szerokości i wysokości dla okrągłego kształtu */
                    height: 40px;
                    background: var(--color-secondary);
                    color: var(--color-white);
                    text-decoration: none;
                    border-radius: 12px; /* Sprawia, że przycisk jest okrągły */
                    transition: background 0.4s ease-in-out, transform 0.3s ease-in-out;
                    font-size: 1.5rem;
                    &:hover { 
                        background: var(--color-grey-1); /* Zmiana koloru tła na czarny po najechaniu */
                        transform: scale(1.1); 
                    }
                }
                p{
                    height:49%;
                }
                .title{
                    height: 10%;
                    font-size: 1.5rem;
                    color: var(--color-white);
                    text-shadow: var(--text-shadow-2);
                    font-weight: bold;
                    line-height: 1.1;
                }
                .bar_title{
                    width:90%;
                    display: flex;
                    align-items: center;     
                    flex-direction: row;
                    justify-content: space-between;

                    .done{
                        font-size: 1.5rem;
                        color: var(--color-secondary);
                        text-shadow: var(--text-shadow-1);
                        font-weight: bold;
                        line-height: 1.3;

                        
                    }
                    .procent{
                        font-size: 1.5rem;
                        color: var(--color-secondary);
                        text-shadow: var(--text-shadow-1);
                        font-weight: bold;
                        line-height: 1.3;
        
                    }
                }
                
            }
            .image_project {
                background: var(--color-grey-0);
                border-radius: var(--br-sm-2);
                box-shadow: var(--box-shadow-1);
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: all .4s ease-in-out;
                &:hover { 
                    transform: scale(1.05); 
                }
                .image{
                    width: 100%; 
                    height: 100%;
                    object-fit: cover !important;
                    border-radius: var(--br-sm-2);

                    
                }
            }
        }
    }

}

//Smartphones
@media (max-width: 810px) {
    header h1 {
        margin-bottom: 10px;
        font-size: 2.5rem;
    }
    a{
        color: var(--color-white);
        text-decoration: none;
        font-weight: bold;
        
    }
    .main{
        grid-template-columns: 1fr; 
        display: flex;
        flex-direction: column;
        justify-content: center;

        .right_content{ 
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 0;
            .name {
                font-size: 3rem;
            }
            p {
                margin: 1.5rem 1.5rem;/*  */
                line-height: 2rem;
            }
        }
        .left_content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .image{
                margin: 0 auto; 
                img{
                    max-width: 60%; 
                    height: auto; 
                    border-radius: var(--br-sm-2);
                    transition: all .4s ease-in-out;
                    &:hover,&:active { 
                        transform: scale(1.05); 
                    }
                }
            }
            .h-shape {
                width: 60%;
                height: 100%;
                background-color: var(--color-secondary);
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                clip-path: polygon(0 0, 0% 100%, 82% 78%);
            }
        }
        
    } 
    .main_projects{
        max-width: 100% !important;
        grid-template-columns: 1fr !important;

    }
    .projects_container {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(6, auto) !important; 
        grid-auto-flow: column; 
        justify-items: center;
    }
    .projects{ 
        max-width: 100% !important;
        min-width: 0!important;
        width: 100% !important;
        
    }
    .project {
        width: 80% !important; /* Wymuszenie szerokości */
        max-width: 80% !important; /* Nadpisanie max-width */
    }
    .image_project {
        width: 80% !important; 
        max-width: 80% !important; 
        background: var(--color-grey-0);
        //padding: 20px;
        border-radius: var(--br-sm-2);
        box-shadow: var(--box-shadow-1);
        text-align: center;
        transition: all .4s ease-in-out;
        &:hover { 
            transform: scale(1.05); 
        }
        .image{
            width: 100%; /* Szerokość obrazu dostosowana do szerokości kontenera */
            height: 100%;
            object-fit: cover !important;
            border-radius: var(--br-sm-2);
            
        }
    }
   
    aside p {
        margin: 1.5rem  1.5rem 4.5rem 1.5rem ;
        margin-bottom: 4rem;/*  */
        line-height: 2rem;
    }
    
}